Flask
flask-cors
gunicorn
python-dotenv

numpy
pandas
scikit-learn
scipy

torch
transformers
sentence-transformers
sentencepiece
accelerate
peft
FlagEmbedding

chromadb
langchain
langchain-chroma
langchain-core
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langgraph

google-genai

pypdf
requests

mysql-connector-python